/* ---- GENERAL ----  */
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 130, 1);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

/* ---- BORDER ---- */
.border-left,
.border-right,
.border-top,
.border-bottom {
    background: black;
    position: fixed;
}

.border-left,
.border-right {
    top: 0;
    bottom: 0;
    width: 5px;
}

.border-left {left: 0;}

.border-right {right: 0;}

.border-top,
.border-bottom {
    left: 0;
    right: 0;
    height: 5px;
}

.border-top {top: 0;}

.border-bottom {bottom: 0;}

/* ---- HEADER ---- */
#header {
    position: absolute;
    width: 100%;
    height: 2em;
    top: 0;
    left: 0;
}

.header {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: rgb(128, 128, 1);
    border: 6px solid black;
}

/* ---- SECTION ---- */
section {
    margin-top: 2em;
    height: 90vh;
}

/* ---- COLUMNS ---- */
#column {
    width: 100%;
    height: 90vh;
}

.column-rhombus {
    float: left;
    width: 50%;
    height: 58vmin;
}

.column-rhombus .row{
    width: 20vmin;
    height: 20vmin;
}

.column-box {
    float: right;
    width: 25%;
    height: 95%;
    padding-right: 35px;
    margin-top: 3vh;
}

.column-equal-circle {
    width: 53vw;
    margin-left: 1vw;
}

.column-equal-circle::after {
    content: "";
    display: table;
    clear: both;
}

.column-equal {
    width: 25vw;
    height: 20vmin;
    float: left;
}

.column-equal .row {
    width: 84%;
    height: 18%;
    margin-bottom: 22%;
    margin-top: 8%;
}

.column-circle {
    width: 22vmin;
    height: 19vmin;
    float: left;
    padding-left: 2vw;
}

/* ---- SHAPES ---- */
.rhombus {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: red;
    border: 2px solid black;
    transform: rotate(45deg)translateX(6vmin);
}

#top-rhombus {
    transform: translateX(20vmin)rotate(45deg)translateX(6vmin);
}

.text-box{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: rgb(218, 33, 47);
    border: 2px solid black;
    float: right;
}

.text-box p {
    margin-block-start: 0.5em;
    text-align: center;
    font:  30px normal Arial, sans-serif;
}

.square {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: blue;
    border: 2px solid black;
}

.circle {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: rgb(0, 130, 129);
    border-radius: 50%;
    border: 2px solid black;
}

/* ---- MEDIA ---- */
@media (max-width: 583px){
    .header {
        border: 5px solid black;
    }

    #column {
        display: flex;
        flex-flow: column;
    }

    #col-box {order: 3;}

    #col-eq-c {order: 2;}

    .column-rhombus,
    .column-equal-circle,
    .column-box {
        width: 50%;
        margin-left: 20vw;
        margin-right: auto;
    }

    .column-box {
        height: 35vh;
    }

    .text-box {
        background: blue;
        float: left;
    }
}

@media (min-width: 900px) {
    .header {
        border: 7px solid black;
    }

    #col-box {order: 3;}

    #col-eq-c {order: 2;}

    .column-rhombus {
        width: 33%;
    }

    .column-rhombus .row {
        width: 15vmin;
        height: 15vmin;
    }

    #top-rhombus {
        transform: translateX(15vmin)rotate(45deg)translateX(6vmin);
    }

    .column-equal-circle {
        width: 45%;
        float: left;
        padding-left: 4%;
        margin-top: 6em;
    }

    .column-equal {
        width: 33%;
    }

    .column-box {
        width: 20%;
    }

    .text-box {
        background: white;
    }
}